//Imports

@import url("https://fonts.googleapis.com/css?family=Kurale|Lato|Merriweather");


//Variables

$lato-font: 'Lato', sans-serif;
$merriweather-font: 'Merriweather', serif;
$kurale-font: 'Kurale', serif;
$ash-grey: #B5C2B7;
$grey-blue: #8C93A8;
$purple-taupe: #45364B;
$raisen-black: #2D2327;
$dark-lavender: #6A4C93;


body {
  margin: 0;
  padding: 0;
  font-family: $merriweather-font;
}

.App {
  text-align: center;
}

.Titles {
  font-family: $kurale-font;
  padding: 10px;
  font-size: 28px;
  text-shadow: 3px 3px $ash-grey;
}

.line-rule {
  width: 400px;
  border: 1.5px solid $dark-lavender;
}

.Container {
  font-family: $lato-font;
  font-size: 20px;
}

nav {
    a {
      padding: 0px 15px;
      color: $grey-blue;
      text-decoration: none;
   }
  position: relative;
  background-color: $purple-taupe;
  padding: 20px 0px;
  border-bottom: 3px groove $ash-grey;
}

a:hover {
  color: $ash-grey;
}


.Welcome-page {
    .Welcome-quote {
      font-size: 25px;
      text-align: left;
      padding-right: 200px;
      padding-left: 100px;
      padding-top: 10px;
      font-style: italic;
    }
    .Quote-author {
      font-size: 30px;
      text-align: right;
      font-weight: 500;
      padding-top: 10px;
      padding-right: 200px;
    }
    .welcome-container {
      background: url("https://www.abdn.ac.uk/news/images/stars.jpg") no-repeat center;
      background-size: cover;
      color: $grey-blue;
      text-shadow: 3px 3px $dark-lavender;
      padding: 20px 0px;
      .welcome {
        text-shadow: 2px 3px $dark-lavender;
      }
      .welcome:hover {
        text-shadow: 2px 3px $dark-lavender;
        color: #5a8dac;
        font-family: $merriweather-font;
      }
    }
  color: $grey-blue;
}

.About-page {
  @extend .Welcome-page;
}

.about {
  background: url("https://www.abdn.ac.uk/news/images/stars.jpg") no-repeat center;
  background-size: cover;
}

.contact {
  @extend .about;

}

.projects {
  @extend .about;
}

.skill-wrap {
  background-color: $raisen-black;
  padding: 20px 0px;
  color: $ash-grey;
}

.skill-wrap img {
  width: 140px;
  height: 100px;
  padding: 0px 30px;
  display: inline-block;
  text-align: left;
}

.skill-wrap h5 {
  display: inline-block;
  color: $ash-grey;
}

.statement {
  overflow: hidden;
  border-right: 3px solid $raisen-black;
  color: $grey-blue;
  white-space: nowrap;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.separate-line {
  width: 50%;
  border-color: $dark-lavender;
}

.talk-photo {
  border: 3px groove $ash-grey;
  border-radius: 30px;
  width: 500px;
  height: 300px;
}

.about-text {
  background-color: $raisen-black;
  padding: 20px 0px;
  color: $ash-grey;
}

.Dev-photo {
  height: 180px;
  width: 140px;
  border-radius: 20px;
  border: 3px ridge $ash-grey;
  margin-top: 20px;
}

span {
  color: #0094ce;
  font-size: 16px;
}

.Projects-page {
  @extend .Welcome-page;
}

.nommad-container {
  background-color: $purple-taupe;
  padding: 15px 0px;
}

.pupfetchr-container {
  background-color: $raisen-black;
  padding: 15px 0px;
}

.Contact-page {
  @extend .Welcome-page;
}

.contact-container {
  background-color: $ash-grey;
  color: $purple-taupe;
  padding: 15px 0px;
  .h2-special {
    text-align: right;
    padding-right: 20px;
  }
  .special-line {
    width: 50%;
    border: 2px solid $raisen-black;
    margin-right: 0px;
  }
}

.github, .linkedIn, .twitter, .medium {
  height: 45px;
  width: 50px;
  display: inline-block;
  padding: 0px 10px;
}

footer {
  background-color: $purple-taupe;
  color: $grey-blue;
  padding: 10px 0px;
  font-size: 15px;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 50%
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: $raisen-black;
  }
}
