//Imports

@import url("https://fonts.googleapis.com/css?family=Kurale|Lato|Merriweather");


//Variables

$lato-font: 'Lato', sans-serif;
$merriweather-font: 'Merriweather', serif;
$kurale-font: 'Kurale', serif;
$ash-grey: #B5C2B7;
$grey-blue: #8C93A8;
$purple-taupe: #45364B;
$raisen-black: #2D2327;
$dark-lavender: #6A4C93;


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.Titles {
  h4 {
    text-shadow: 3px 3px $grey-blue;
  }
  font-family: $kurale-font;
  padding: 10px;
  font-size: 28px;
  text-shadow: 3px 3px $ash-grey;
}

.line-rule {
  width: 400px;
  border: 1.5px solid $dark-lavender;
}

.Container {
  font-family: $lato-font;
  font-size: 20px;
}

nav {
    a {
      padding: 0px 15px;
      color: $grey-blue;
      text-decoration: none;
   }
  position: relative;
  background-color: $purple-taupe;
  padding: 20px 0px;
  border-bottom: 3px groove $ash-grey;
}

a:hover {
  color: $ash-grey;
}

.Welcome-page {
    .Welcome-quote {
      font-size: 25px;
      text-align: left;
      padding-right: 200px;
      padding-left: 100px;
      padding-top: 10px;
      font-style: italic;
    }
    .Quote-author {
      font-size: 30px;
      text-align: right;
      font-weight: 500;
      padding-top: 10px;
      padding-right: 200px;
    }
  color: #48225a;
}

.About-page {
  @extend .Welcome-page;
}

.Dev-photo {
  height: 150px;
  width: 250px;
  border-radius: 20px;
  border: 3px ridge $ash-grey;
  margin-top: 20px;
}


.Projects-page {
  @extend .Welcome-page;
}

.Contact-page {
  @extend .Welcome-page;
}
