@import url("https://fonts.googleapis.com/css?family=Kurale|Lato|Merriweather");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.titles {
  font-family: 'Kurale', serif;
  padding: 50px;
  font-size: 35px;
}

.Container {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

nav {
  position: relative;
  background-color: #45364B;
  padding: 20px 0px;
}

nav a {
  padding: 0px 15px;
  color: #8C93A8;
  text-decoration: none;
}

a:hover {
  color: #B5C2B7;
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Kurale', serif;

COLORS:
Ash-grey: B5C2B7
Grey-Blue: 8C93A8
Purple Taupe: 45364B
Raisen Black: 2D2327
Dark Lavender: 6A4C93
*/
